<div class="registration-container">
  <h2> Create Account </h2>
  <form id="registration-form" action="CREATE_ROUTE_HERE_YOU_FUCK" method="POST">

    <!-- Add error handling logic -->

    <label for="email">Email:</label><br>
    <input type="text" name="email"><br>

    <label for="username">Password:</label><br>
    <input type="password" name="password"><br>
    <button id="create-account-button" type="submit">Create Account</button>
  </form>
</div>
