<div id="send-new"class="fuinator profile-form">
  <form action="" method="PUT">
    <div class="form-group">
      <label class="sr-only" for="r-form-1-first-name">Enter your victim's phone number</label>
      <input type="text" name="phone" placeholder="Victim's Phone Number..." class="r-form-1-first-name form-control" id="r-form-1-first-name">
      <select class="btn">
        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="mercedes">Mercedes</option>
        <option value="audi">Audi</option>
      </select>
    </div>
  </form>

<div id="create-new"class="fuinator profile-form">
<form action="" method="PUT">
  <div class="form-group">
    <label class="sr-only" for="r-form-1-first-name">Enter your victim's phone number</label>
    <input type="text" name="phone" placeholder="Victim's Phone Number..." class="r-form-1-first-name form-control" id="r-form-1-first-name">
    <select class="btn">
      <option value="volvo">Volvo</option>
      <option value="saab">Saab</option>
      <option value="mercedes">Mercedes</option>
      <option value="audi">Audi</option>
    </select>
  </div>
</form>


